<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ink.va">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <permission
        android:name="com.ink.va.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ink.va.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="ink.StartupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleMapsApiKey" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="ink.va.activities.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="ink.va.activities.Intro"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.va.activities.Registration"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.va.activities.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/feedText"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ink.va.activities.OpponentProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ink.va.activities.Chat"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/ChatTheme" />
        <activity
            android:name="ink.va.activities.CustomizeLook"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="ink.va.service.NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="ink.va.service.FirebaseInstanceService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="ink.va.service.LocationRequestSessionDestroyer" />
        <service android:name="ink.va.service.BackgroundTaskService" />
        <service android:name="ink.va.service.RemoveChatRouletteService" />
        <service android:name="ink.va.service.SendTokenService" />
        <service android:name="ink.va.service.SendReplyService" />
        <service android:name="ink.va.service.SendMessageService" />
        <service
            android:name="ink.va.service.TaskRemoveService"
            android:enabled="true"
            android:stopWithTask="false" />

        <!-- <receiver android:name="ink.broadcasts.IncomingCallReceiver"></receiver> -->
        <receiver android:name="ink.va.broadcast.DismissBroadcast" />

        <activity
            android:name="ink.va.activities.ReplyView"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="ink.va.activities.MyProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Profile" />
        <activity android:name="ink.va.activities.Messages" />
        <activity
            android:name="ink.va.activities.MakePost"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="ink.va.activities.MapsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="ink.va.activities.Comments" />
        <activity
            android:name="ink.va.activities.SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name="ink.va.activities.Groups"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.va.activities.ChatRoulette"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.va.activities.SingleGroupView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Profile" />
        <activity
            android:name="ink.va.activities.CreateGroupPost"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="ink.activities.SearchResultsActivity" />

        <activity
            android:name="ink.va.activities.RequestsView"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.va.activities.WaitRoom"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name="ink.va.activities.Shop" />
        <activity
            android:name="ink.va.activities.BuyCoins"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="ink.va.activities.Music"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.va.activities.ImageEditor"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.va.activities.SendFeedback"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.va.activities.ContactSupport"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1713388275578207"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="80f8d0846bb012e567f21fdf7ebbc38efe19d99e" />

        <activity
            android:name="ink.va.activities.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="ink.va.activities.Settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="ink.va.activities.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="ink.va.activities.ChangePassword"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="ink.va.activities.SecurityQuestion"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="ink.va.activities.NewsAndTrendsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="ink.va.activities.Policy" />
        <activity android:name="ink.va.activities.StickerChooserActivity" />
        <activity android:name="ink.va.activities.WhoViewedActivity" />
        <activity
            android:name="ink.va.activities.ServerNotification"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="ink.va.activities.MyCollection"></activity>
    </application>

</manifest>