<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.ink.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ink.permission.C2D_MESSAGE" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="ink.StartupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleMapsApiKey" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="ink.activities.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="ink.activities.Intro"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.activities.Registration"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.activities.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/feedText"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ink.activities.OpponentProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ink.activities.Chat"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="ink.service.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="ink.service.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="ink.service.BackgroundTaskService" />
        <service android:name="ink.service.RemoveChatRouletteService" />
        <service android:name="ink.service.SendTokenService" />
        <service android:name="ink.service.SendReplyService" />

        <receiver
            android:name="ink.broadcasts.CallReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ink" />
            </intent-filter>
        </receiver>
        <service android:name="ink.service.GcmIntentService" />
        <!--<receiver android:name="ink.broadcasts.IncomingCallReceiver"></receiver>-->

        <activity
            android:name="ink.activities.ReplyView"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="ink.activities.MyProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Profile" />
        <activity android:name="ink.activities.Messages" />
        <activity
            android:name="ink.activities.MakePost"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ink.activities.MapsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="ink.activities.Comments" />
        <activity
            android:name="ink.activities.SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ink.activities.Groups"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.activities.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.activities.ChatRoulette"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.activities.SingleGroupView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Profile" />
        <activity
            android:name="ink.activities.CreateGroupPost"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="ink.activities.SearchResultsActivity" />

        <activity
            android:name="ink.activities.RequestsView"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="ink.activities.WaitRoom"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name="ink.activities.Shop" />
        <activity
            android:name="ink.activities.BuyCoins"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"></activity>
    </application>

</manifest>